/*

Main styles for the homepage
i.e. page-wide feature bars for holding tiles

Last updated 27/7/2022

*/

*{margin: 0;}


/*Feature section borders*/
#read {
    border-top: solid #0D6EFD 6px;
    border-left: solid #0D6EFD 1px;
    border-right: solid #0D6EFD 1px;
}

#listen {
    border-top: solid #0DCAF0 6px;
    border-left: solid #0DCAF0 1px;
    border-right: solid #0DCAF0 1px;
}

#watch {
    border-top: solid blueviolet 6px;
    border-left: solid blueviolet 1px;
    border-right: solid blueviolet 1px;
}

/*IMPORTANT: switch to mobile version of homepage tiles and vice versa depending on screen size*/
@media (max-width: 699px) {
    #read, #listen, #watch {
        display: none;
    }
}

@media (min-width: 700px) {
    #read-m, #listen-m, #watch-m {
        display: none;
    }
}

@media (min-width: 1300px) {
    .tile {
        float:left;
        width: 49% !important;
    }
}

.container-fluid {
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 1;
    margin-top: 8px;
}

/*sidebar section title*/
.s-title { 
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.s-title a {
    text-decoration: none;
}

.s-title a:hover {
    text-decoration: underline;
    -ms-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
}

/*HOMEPAGE-ONLY CARD TILE LAYOUT*/
/*Feature banner (for narrow screens, replaces sidebar)*/
.f-banner {
    display: block;
    clear: both;
    width: 100%;
    background-color: blueviolet;
    color: white;
    border-radius: 1px;
    padding: 5px;
}

/*hide sidebar when screen is under certain width*/
@media (max-width: 1300px) {
    .sidebar {
        display:none;
    }

    .tile h4 {
        font-size: 16px;
    }

    .tile p {
        font-size: 12px;
    }
}

/*Show title banner above grid when screen is narrow*/
@media (min-width: 1300px) {
    .f-banner {
        display: none;
    }
}

/*holder for columns. There is one for read, listen, and watch*/
.feature {
    display: flex;
}

/*category badges*/
#listen .bg-primary, #listen-m .bg-primary {
    background-color: #0dcaf0 !important;
}

#watch .bg-primary, #watch-m .bg-primary {
    background-color: blueviolet !important;
}

/*Mobile section header links*/
.section-link-m {
    display:block;
    height:29px;
    width:100%;
    margin:0px !important;
    font-size:12px;
    padding:3px !important;
    text-decoration:none !important;
    background-color: #0d6efd;
}

.section-link-m h4 {
    color: white;
    font-family: Courier;
    text-align:center;
}