/*

General styles for the whole site

Last updated 27/7/2022

*/

body {
    font-family: sans-serif;
    background-color: rgb(241, 241, 241) !important;
}

/*To add space to the page below the navbar, so no content is hidden*/
.invis-breaker {
    height: 140px;
}

/*Add a dark tint over an image to ensure all text is readable*/
.bg-overlay {
    background-position: 0px 0px;
    background: linear-gradient(to right,
        #FFFFFF00 0px,     
        #FFFFFF00 5px,  
        #00000088 5px,   
        #00000077 100% 
    );  
}

/*Clearfix*/
.clearfix {
    overflow: hidden;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}