/*

Styles for the navbar and header

Last updated 27/7/2022

*/

.custom-nav {
    border-bottom: 4px solid black;
    background-color: white;
}

nav .navbar-nav li a{
    color: black !important;
    font-family: courier;
}
  
.navbar {
    /*Shadows*/
    -webkit-box-shadow: 0 8px 6px -6px #888;
    -moz-box-shadow: 0 8px 6px -6px #888;
    box-shadow: 0 8px 6px -6px #888;
  
    top: 60px;
}

/*IMPORTANT: switch to mobile version of navbar and vice versa depending on screen size*/
@media (max-width: 699px) {
    #pend-navbar {
        display: none;
    }
}

@media (min-width: 700px) {
    #pend-navbar-m {
        display: none;
    }
}

#pend-navbar-m {
    background-color: black;
    color: white;
    text-align:center;
    border-top: solid white 2px;
}

#pend-navbar-m a {
    width:50px;
    height:50px;
    display:inline-block;
    color: white !important;
    text-decoration: none !important;
    margin-left:10px;
    margin-right:10px;
}

#pend-navbar-m a:hover {
    background-color: #252525;
}

/*Different border colours for different nav links*/
.h-active {
    border-bottom: solid red 1px;
}

.r-active {
    border-bottom: solid #0d6efd 1px;
}

.l-active {
    border-bottom: solid #0dcaf0 1px;
}

.w-active {
    border-bottom: solid blueviolet 1px;
}
  
/*Header*/
.pagewide {
    height: 60px;
    color: white;
    background-color: black;
    text-align: center;
}

/*make nav item text bold and big when hover*/
.nav-item a:hover {
    -ms-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
    font-weight: bold;
}
