/*

Styles for the navbar and header

Last updated 27/7/2022

*/

.custom-nav {
    border-bottom: 4px solid black;
    background-color: white;
}

nav .navbar-nav li a{
    color: black !important;
    font-family: courier;
}
  
.navbar {
    /*Shadows*/
    -webkit-box-shadow: 0 8px 6px -6px #888;
    -moz-box-shadow: 0 8px 6px -6px #888;
    box-shadow: 0 8px 6px -6px #888;
  
    top: 60px;
}

.navbar .active {
    border-bottom: solid red 1px;
}
  
/*Header*/
.pagewide {
    height: 60px;
    color: white;
    background-color: black;
    text-align: center;
}

/*make nav item text bold and big when hover*/
.nav-item a:hover {
    -ms-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
    font-weight: bold;
}