/*Main Content Area*/
main .card {
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

main {
    border-left: solid black 1px;
    border-right: solid black 1px;
    /*border: solid #0d6efd 1px !important;*/
}

.text-body {
    margin-top: 15px;
    font-size: 25px;
    font-family: sans-serif !important;
    border-bottom: solid #0d6efd 5px;
    margin-bottom: 10px !important;
}

main .container {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

#top-image {
    border-bottom: solid #0d6efd 5px;
    padding-bottom: 10px;
}


/*Title*/
.title {
    border-bottom: solid #0d6efd 5px;
    margin-bottom:10px;
}


.title a {
    text-decoration: none !important;
    color: black;
}

.title a:hover {
    text-decoration: underline !important;
    color: black !important;
    text-decoration-color: #0d6efd !important;
}

.title-banner {
    color:white;
    font-family: courier;
    display:block;
    text-decoration: none;
    overflow: hidden;
}