/*

Homepage tile styles
Contains styles for columns and tile groups, along with tiles themselves
Including specific margin styles for middle tiles

Last updated 27/7/2022

*/


/*holder for tile groups*/
.column {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 4px;
}

/*Small and large columns (standard is double small's width)
These sizings mean nothing if there is only one column*/
.c-small {
    flex: 1;
}

.c-large {
    flex: 3;
}

/*All tiles must be in an tile group, even if they hold only one tile.*/
.tile-group {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom: 4px;
    margin-top: 4px;
}

.tg-vert {
    flex-direction: column;
}

.tile {
    background-color: white;
    border: solid #dbdbdb 1px;
    flex: 2;
}

/*Margins for middle tiles in horizontal tile groups
naming style: <orientation>mid-<num tiles>[-<side>] eg. vmid-2-l*/
.hmid-2-l { /*2 tile group left middle*/
    margin-right: 8px;
}

.hmid-3 { /*3 tile group*/
    margin-left: 8px;
    margin-right: 8px;
}

.hmid-4-l { /*4 tile group left middle*/
    margin-left: 8px;
    margin-right: 4px;
}

.hmid-4-r {
    margin-left: 4px;
    margin-right: 8px;
}

/*Margins for middle tiles in vertical groups*/
.vmid-2-t { /*2 tile group top middle*/
    margin-bottom: 8px;
}

.vmid-3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.vmid-4-t { /*4 tile group top middle*/
    margin-top: 8px;
    margin-bottom: 4px;
}

.vmid-4-b {
    margin-top: 4px;
    margin-bottom: 8px;
}