/*

Homepage tile styles
Contains styles for columns and tile groups, along with tiles themselves
Including specific margin styles for middle tiles

Last updated 27/7/2022

*/


/*holder for tile groups*/
.column {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 4px;
}

/*Small and large columns (standard is double small's width)
These sizings mean nothing if there is only one column*/
.c-small {
    flex: 1;
}

.c-large {
    flex: 3;
}

/*All tiles must be in an tile group, even if they hold only one tile.*/
.tile-group {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom: 4px;
    margin-top: 4px;
}

.tg-vert {
    flex-direction: column;
}

/*tg-vert styles: small vertical group tiles are too small for a picture, and remove border radius for badges*/
.tg-vert .tile {
    height: 100%;
    background-color: rgb(66, 66, 66);
}

.tg-vert .badge {
    border-radius: 0;
}


/*the core building block: any article/podcast/album/video on the homepage must be a tile*/
.tile {
    background-color: white;
    border: solid #dbdbdb 1px;
    flex: 2;
    overflow: hidden;
    height:200px;
    color:white;
    font-family: courier;
    display:block;
    text-decoration: none;
}

/*old version that doesnt allow for side borders, may reuse later
.bg-overlay {
    background: linear-gradient(50deg, #00000088 100%, #ffffff44 100%);
}
*/

/*img that sits in tiles*/
.card-img-top {
    max-height:100%;
    width:100%;
    overflow: hidden;
    object-fit:cover;
    height:200px;
}

#read .card-img-top {
    border-left: solid #0D6efd 5px;
}

#listen .card-img-top {
    border-left: solid #0DCAF0 5px;
}

#watch .card-img-top {
    border-left: solid blueviolet 5px;
}

/*increase tile size slightly when hovered*/
.tile:hover {
    -ms-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
    color:white;
}

/*increase card img border width when tile is hovered to eliminate gap
.tile:hover > .card-img-top {
    border-left: solid #0D6EFD 6px;
}*/

/*Margins for middle tiles in horizontal tile groups
naming style: <orientation>mid-<num tiles>[-<side>] eg. vmid-2-l*/
.hmid-2-l { /*2 tile group left middle*/
    margin-right: 8px;
}

.hmid-3 { /*3 tile group*/
    margin-left: 8px;
    margin-right: 8px;
}

.hmid-4-l { /*4 tile group left middle*/
    margin-left: 8px;
    margin-right: 4px;
}

.hmid-4-r {
    margin-left: 4px;
    margin-right: 8px;
}

/*Margins for middle tiles in vertical groups*/
.vmid-2-t { /*2 tile group top middle*/
    margin-bottom: 8px;
}

.vmid-3 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.vmid-4-t { /*4 tile group top middle*/
    margin-top: 8px;
    margin-bottom: 4px;
}

.vmid-4-b {
    margin-top: 4px;
    margin-bottom: 8px;
}